<div class="container">
  <div class="content" style="text-align:center; margin-top:30px;">
    <h4>对不起，我们暂不支持微信以外的环境使用！</h4>
    <p>您可以识别下方二维码关注我们抢红包，也可以在微信里面搜索“<span style="color:red;">惠互动</span>”关注我们</p>
    <%= image_tag CommonConfig.offical_share_result_qrcode, class: 'qrcode-img' %>
  </div>
</div>